.shadowBox {
    border: thin solid #ccc;
}

.title {
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: var(--title), sans-serif;
}

.article { 
    font-family: var(--title), sans-serif;
    font-weight: 300;
}

.readMore {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

@media (max-width: 1024px) {
    .container {
        width: calc(50% - 2rem);
        min-height: 300px;
        background-color: red;
    }
}

